#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.current {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 0 0 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (prefers-color-scheme: light) {
  .title {
    color: #000;
  }
}
